.modal {
	background-color: rgba(0,0,0,0.80);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 400;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.modal > form > .modal-button-hide {
	color: #aaa;
	font-size: medium;
	font-weight: bold;
	position: absolute;
	top: 1px;
	right: 5px;
	text-decoration: none;
}
.modal-content-wrapper .modal-button-hide:hover {
	color: #058;
}
	
@media (min-width: 738px) {
	.modal > figure {
		position: relative;
		background-color: #eee;
		border: 1px solid #999;
		border-radius: 4px;
		box-shadow: 0px 8px 8px rgba(0,0,0,0.25);
		overflow: hidden;
		padding: 4px;
	}
	.modal > figure > img {
		margin: 0;
		padding: 0;
	}	
	.modal > figure > legend {
		display: none;
	}
	.modal > form {
		position: relative;
		background-color: #eee;
		border: 1px solid #999;
		border-radius: 4px;
		box-shadow: 0px 8px 8px rgba(0,0,0,0.25);
		overflow: auto;
		padding: 12px 4px 4px 4px;
		width: 256px;
	}
}
@media (max-width: 737px) {
	.modal {
		background: none;
		position: fixed;
	}
	.modal > figure {
		padding: 0;
		margin: 0 auto;
	}
	.modal > figure > legend {
		display: none;
	}
	.modal > form {
		position: relative;
		background-color: #eee;
		border: 1px solid #999;
		border-radius: 4px;
		box-shadow: 0px 8px 8px rgba(0,0,0,0.25);
		overflow: auto;
		padding: 12px 4px 4px 4px;
		width: 256px;
	}
}
